@font-face {
  font-family: 'Calligraph';
  src: url("fonts/calligraph.eot");
  src: url("fonts/calligraph.eot?#iefix") format("embedded-opentype"), url("fonts/calligraph.woff") format("woff"), url("fonts/calligraph.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #05030a;
}

a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus,
textarea:focus,
textarea:active {
  outline: none !important;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-1 {
  width: 8.3333333333%;
}

.col-xs-2 {
  width: 16.6666666666%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-xs-8 {
  width: 66.6666666666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-xs-11 {
  width: 91.6666666666%;
}

.col-xs-12 {
  width: 100%;
}

header.main {
  background: url("../img/bg-header.jpg") top center no-repeat;
  height: 450px;
}

.menu-wrap {
  background: url("../img/bg-menu.jpg") top center no-repeat;
  height: 145px;
}
.menu-wrap .registation {
  font-size: 13px;
  font-family: "Times New Roman", serif;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  display: table;
  text-decoration: none;
  float: right;
  margin-top: 50px;
  margin-right: 43px;
}
.menu-wrap .registation:hover {
  color: #5fc2f5;
}
.menu-wrap .registation:active {
  color: #4f3a6f;
}
.menu-wrap .rules {
  font-size: 13px;
  font-family: "Times New Roman", serif;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  display: table;
  text-decoration: none;
  float: left;
  margin-top: 50px;
  margin-left: 63px;
}
.menu-wrap .rules:hover {
  color: #5fc2f5;
}
.menu-wrap .rules:active {
  color: #4f3a6f;
}
.menu-wrap button {
  background: url("../img/sp-bg-button.png");
  width: 115px;
  height: 115px;
  margin-left: 20px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 12px;
  font-family: "Times New Roman", serif;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.menu-wrap button:hover {
  color: #fff;
  background-position: 0 -115px;
}
.menu-wrap button:active {
  background-position: 0 0;
}

.content-wrapp {
  background: url("../img/bg-container.jpg") top center no-repeat;
}
.content-wrapp .left-sidebar {
  margin-top: 47px;
  list-style-type: none;
  margin-left: -20px;
}
.content-wrapp .left-sidebar a {
  font-size: 10px;
  text-transform: uppercase;
  color: #76759f;
  text-decoration: none;
  padding: 11px 0px 11px 0px;
}
.content-wrapp .left-sidebar a:hover {
  color: #9896cc;
}
.content-wrapp .left-sidebar a:active {
  color: #b1affd;
}
.content-wrapp .news-one,
.content-wrapp .news-second,
.content-wrapp .news-three {
  position: relative;
  width: 200px;
  list-style-type: none;
  padding: 10px 15px 10px 10px;
  border-bottom: solid 1px #222130;
  margin-bottom: 0px;
}
.content-wrapp .news-one:before, .content-wrapp .news-one:after,
.content-wrapp .news-second:before,
.content-wrapp .news-second:after,
.content-wrapp .news-three:before,
.content-wrapp .news-three:after {
  content: " ";
  display: table;
}
.content-wrapp .news-one:after,
.content-wrapp .news-second:after,
.content-wrapp .news-three:after {
  clear: both;
}
.content-wrapp .news-one:hover,
.content-wrapp .news-second:hover,
.content-wrapp .news-three:hover {
  background: rgba(107, 74, 121, 0.5);
}
.content-wrapp .news-one:hover .icon-select,
.content-wrapp .news-second:hover .icon-select,
.content-wrapp .news-three:hover .icon-select {
  background: url("../img/icon-select.png") no-repeat;
  display: block;
  width: 9px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
}
.content-wrapp .news-one .news-title,
.content-wrapp .news-one .autor,
.content-wrapp .news-one span,
.content-wrapp .news-second .news-title,
.content-wrapp .news-second .autor,
.content-wrapp .news-second span,
.content-wrapp .news-three .news-title,
.content-wrapp .news-three .autor,
.content-wrapp .news-three span {
  color: #917576;
}
.content-wrapp .news-one li,
.content-wrapp .news-second li,
.content-wrapp .news-three li {
  font-size: 11px;
  font-family: "Times New Roman", serif;
  color: #8f8d9e;
  float: left;
}
.content-wrapp .news-one li:after,
.content-wrapp .news-second li:after,
.content-wrapp .news-three li:after {
  content: '|';
  margin: 0px 4px;
}
.content-wrapp .news-one li:last-child:after,
.content-wrapp .news-second li:last-child:after,
.content-wrapp .news-three li:last-child:after {
  display: none;
}
.content-wrapp .news-three {
  margin-top: 102px;
}

.post {
  border-bottom: solid 1px #222130;
  padding-bottom: 27px;
  margin-bottom: 30px;
}
.post:last-child {
  margin-bottom: 0px;
}
.post-header h2 {
  font-size: 26px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #7d538e;
  margin: 10px 0px;
}
.post-content li {
  font-size: 11px;
  font-family: "Arial", sans-serif;
  color: #7d538e;
}
.post-footer span {
  font-size: 10px;
  color: #ac89ba;
  font-family: "Arial Bold", sans-serif;
}
.post-footer li:after {
  content: '|';
  margin-left: 5px;
}
.post-footer li:last-child:after {
  display: none;
}
.post-footer a {
  font-size: 10px;
  font-family: "Arial", sans-serif;
  color: #7d538e;
  text-decoration: none;
}
.post-footer a:hover {
  color: #ac89ba;
}

.facebook a {
  background: url("../img/sp-icon-social.png");
  display: block;
  width: 55px;
  height: 53px;
  margin-left: 80px;
  margin-top: 80px;
}
.facebook a:hover {
  background-position: 0 -53px;
}

.twitter a {
  background: url("../img/sp-icon-social.png");
  display: block;
  width: 55px;
  height: 53px;
  margin-left: 80px;
  background-position: -55px 0;
}
.twitter a:hover {
  background-position: -55px -53px;
}

.vk a {
  background: url("../img/sp-icon-social.png");
  display: block;
  width: 55px;
  height: 53px;
  margin-left: 80px;
  background-position: -110px 0;
}
.vk a:hover {
  background-position: -110px -53px;
}

.status_servera {
  margin-left: 36px;
  margin-top: 80px;
}
.status_servera h3 {
  font-size: 12px;
  font-family: "Arial Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  margin-right: 11px;
}
.status_servera ul:before, .status_servera ul:after {
  content: " ";
  display: table;
}
.status_servera ul:after {
  clear: both;
}
.status_servera li {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: #fff;
  list-style-type: none;
  left: 0;
  float: left;
  margin-right: 8px;
}
.status_servera li:last-child {
  margin-right: 0px;
}

h4 {
  margin-top: 310px;
  font-size: 12px;
  font-family: "Arial Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
}

p {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  text-align: right;
  color: #fff;
  margin-right: 17px;
}

b {
  font-size: 20px;
  color: gold;
  font-family: "Arial Bold", sans-serif;
  margin-left: 146px;
}

.footer-wrapp {
  background: url("../img/bg-footer.jpg") top center no-repeat;
  padding: 106px 0px 68px;
}
.footer-wrapp .text-footer {
  width: 70%;
  margin: 0 auto;
}
.footer-wrapp p {
  text-align: center;
  font-size: 13px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: #726c8c;
  border-bottom: solid 1px #222130;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
