@font-face {
  font-family: 'Calligraph';
  src: url("fonts/calligraph.eot");
  src: url("fonts/calligraph.eot?#iefix") format("embedded-opentype"), url("fonts/calligraph.woff") format("woff"), url("fonts/calligraph.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
