header.main{
  background: url("../img/bg-header.jpg")top center no-repeat;
  height: 450px;
}
.menu-wrap{
  background: url("../img/bg-menu.jpg")top center no-repeat;
  height: 145px;
  .registation{
    font-size: 13px;
    font-family: $Times;
    color: $white;
    text-transform: uppercase;
    text-align: right;
    display: table;
    text-decoration: none;
    float: right;
    margin-top: 50px;
    margin-right: 43px;
    &:hover{
      color: #5fc2f5;
    }
    &:active{
      color: #4f3a6f;
    }
  }
  .rules{
    font-size: 13px;
    font-family: $Times;
    color: $white;
    text-transform: uppercase;
    text-align: left;
    display: table;
    text-decoration: none;
    float: left;
    margin-top: 50px;
    margin-left: 63px;
    &:hover{
      color: #5fc2f5;
    }
    &:active{
      color: #4f3a6f;
    }
  }
  button {
    background: url("../img/sp-bg-button.png");
    width: 115px;
    height: 115px;
    margin-left: 20px;
    @include border-radius(100%);
    font-size: 12px;
    font-family: $Times;
    color: $white;
    text-transform: uppercase;
    border: none;
    &:hover{
      color: $white;
      background-position: 0 -115px;
    }
    &:active{
      background-position: 0 0;
    }
  }
}
.content-wrapp{
  background: url("../img/bg-container.jpg")top center no-repeat;
  .left-sidebar{
    margin-top: 47px;
    list-style-type: none;
    margin-left: -20px;
    a{
      font-size: 10px;
      text-transform: uppercase;
      color: #76759f;
      text-decoration: none;
      padding: 11px 0px 11px 0px;
      &:hover{
        color: #9896cc;
      }
      &:active{
        color: #b1affd;
      }
    }
  }
  .news-one,
  .news-second,
  .news-three{
    position: relative;
    width: 200px;
    list-style-type: none;
    padding: 10px 15px 10px 10px;
    border-bottom: solid 1px #222130;
    margin-bottom: 0px;
    @include clearfix();
    &:hover{
      background: rgba(107, 74, 121, 0.5);
    }
    &:hover .icon-select{
      background: url("../img/icon-select.png")no-repeat;
      display: block;
      width: 9px;
      height: 11px;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -6px;
    }
    .news-title,
    .autor,
    span{
      color: #917576;
    }
    li{
      font-size: 11px;
      font-family: $Times;
      color: #8f8d9e;
      float: left;
      &:after{
        content: '|';
        margin: 0px 4px;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
  .news-three{
    margin-top: 102px;
  }
}
.post{
  border-bottom: solid 1px #222130;
  padding-bottom:27px;
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0px;
  }
  &-header{ //post-header
    h2{
      font-size: 26px;
      font-family: $Arial;
      text-align: center;
      color: $purple;
      margin: 10px 0px ;
    }
  }
  &-content{
    li{
      font-size: 11px;
      font-family: $Arial;
      color: $purple;
    }
  }
  &-footer{
    span{
      font-size: 10px;
      color: #ac89ba;
      font-family: $Bold;
    }
    li{
      &:after{
        content:'|';
        margin-left: 5px;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
    a{
      font-size: 10px;
      font-family: $Arial;
      color: $purple;
      text-decoration: none;
      &:hover{
        color: #ac89ba;
      }
    }
  }
}
.facebook,
.twitter,
.vk{

}
.facebook{
  a{
    background: url("../img/sp-icon-social.png");
    display: block;
    width: 55px;
    height: 53px;
    margin-left: 80px;
    margin-top: 80px;
    &:hover{
      background-position: 0 -53px;
    }
  }
}
.twitter{
  a{
    background: url("../img/sp-icon-social.png");
    display: block;
    width: 55px;
    height: 53px;
    margin-left: 80px;
    background-position: -55px 0;
    &:hover{
      background-position: -55px -53px;
    }
  }
}

.vk{
  a{
    background: url("../img/sp-icon-social.png");
    display: block;
    width: 55px;
    height: 53px;
    margin-left: 80px;
    background-position: -110px 0;
    &:hover{
      background-position: -110px -53px;
    }
  }
}
.status_servera{
  margin-left: 36px;
  margin-top: 80px;
  h3{
    font-size: 12px;
    font-family: $Bold;
    color: $white;
    text-transform: uppercase;
    text-align: right;
    margin-right: 11px;
  }
  ul{
    @include clearfix();
  }
  li{
    font-size: 12px;
    font-family: $Arial;
    text-transform: uppercase;
    color: $white;
    list-style-type: none;
    left: 0;
    float: left;
    margin-right: 8px;
    &:last-child{
      margin-right: 0px;
    }
  }
}
h4{
  margin-top: 310px;
  font-size: 12px;
  font-family: $Bold;
  color: $white;
  text-transform: uppercase;
  text-align: right;
}
p{
  font-size: 12px;
  font-family: $Arial;
  text-align: right;
  color: $white;
  margin-right: 17px;
}
b{
  font-size: 20px;
  color: gold;
  font-family: $Bold;
  margin-left: 146px;
}
.footer-wrapp{
  background: url("../img/bg-footer.jpg")top center no-repeat;
  padding: 106px 0px 68px;
  .text-footer{
    width: 70%;
    margin: 0 auto;
  }
  p{
    text-align: center;
    font-size: 13px;
    font-family: $Arial;
    text-transform: uppercase;
    color: #726c8c;
    border-bottom: solid 1px #222130;
    padding-bottom:10px;
    margin-bottom: 10px;
  }
}