header.main{
  background: url("../img/bg-header.jpg")top center no-repeat;
  height: 450px;
}
.menu-wrap{
  background: url("../img/bg-menu.jpg")top center no-repeat;
  height: 145px;
  .registation{
    font-size: 13px;
    font-family: $Times;
    color: $white;
    text-transform: uppercase;
    text-align: right;
    display: table;
    text-decoration: none;
    float: right;
    margin-top: 50px;
    margin-right: 43px;
    &:hover{
      color: #5fc2f5;
    }
    &:active{
      color: #4f3a6f;
    }
  }
  .rules{
    font-size: 13px;
    font-family: $Times;
    color: $white;
    text-transform: uppercase;
    text-align: left;
    display: table;
    text-decoration: none;
    float: left;
    margin-top: 50px;
    margin-left: 63px;
    &:hover{
      color: #5fc2f5;
    }
    &:active{
      color: #4f3a6f;
    }
  }
  button {
    background: url("../img/sp-bg-button.png");
    width: 115px;
    height: 115px;
    margin-left: 20px;
    @include border-radius(100%);
    font-size: 12px;
    font-family: $Times;
    color: $white;
    text-transform: uppercase;
    border: none;
    &:hover{
      color: $white;
      background-position: 0 -115px;
    }
    &:active{
      background-position: 0 0;
    }
  }
}
.content-wrapp{
  background: url("../img/bg-container.jpg")top center no-repeat;
  height: 1151px;
  .col-xs-6{
    @include clearfix();
  }
  ul{
    margin-top: 47px;
    list-style-type: none;
    margin-left: -20px;
    a{
      font-size: 10px;
      text-transform: uppercase;
      color: #76759f;
      text-decoration: none;
      padding: 11px 0px 11px 0px;
      &:hover{
        color: #9896cc;
      }
      &:active{
        color: #b1affd;
      }
    }
  }
  h2{
    font-size: 26px;
    font-family: $Arial;
    text-align: center;
    color: $purple;
    margin: 10px 0px ;
  }
  .text{
    margin-top: 26px;
  }
  .first-post{
    text-align: center;
  }
  p{
    font-size: 11px;
    font-family: $Arial;
    color: $purple;
  }
  h3{
    font-size: 10px;
    color: #ac89ba;
    font-family: $Bold;
    float: left;
    margin: 6px;
    a{
      font-size: 10px;
      font-family: $Arial;
      color: $purple;
      text-decoration: none;
      margin-left: 4px;
      &:hover{
        color: #ac89ba;
      }
    }
  }
  b{
    font-size: 10px;
    font-family: $Bold;
    color: $purple;
    margin: 0px 11px;
  }
  a{
    text-decoration: none;
    font-size: 10px;
    font-family: $Bold;
    color: $purple;
    span{
      color: #bd72dc;
    }
    &:hover{
      color: #ac89ba;
    }
  }
  .border-line{
    width: 464px;
    height: 1px;
    background: #222130;
    margin: 37px 0px;
  }
}